head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href='main.css')
  link(rel="shortcut icon" type="image/x-icon" href=favicon)

  title=params.title

//-   if analitics && site.google_analytics
//-     include includes/google-analytics.pug
//-   if analitics && site.gtm
//-     include includes/gtm_head.pug
//-   if analitics && site.gtag
//-     include includes/gtag.pug